body{
    background-color:peachpuff;
  
  }

.btn{
    cursor: pointer;
}
h1{
    color:#ffbe76;
    transition: color .5s ease-in-out
}
.clicked{
    color:#686de0;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}